


body {
  background-color: #EDE3E9;
}

.card-specific {
    width: 25rem;
    margin: 1.5rem 0;
    display: flex;
}


.page {
    
    background: #EDE3E9;
    height: 100%;
    
 
}

.debug{
    background: red;
}

.text{
    background: #EDE3E9;
    display:box;
    margin: 0 0;
}








